/* Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* intestazione */

/* barra di navigazione */
nav {
    display: flex;
    /* justify-content: space-between; */
    /* DEBUG */
    background-color: blueviolet;
    height: 60px;
}

    .logo {
        width: 25%;
        /* DEBUG */
        border: 1px solid black;
    }

    .menu {
         width: 50%;
        /* DEBUG */
        border: 1px solid black;
    }

    .access {
        width: 25%;
        /* DEBUG */
        border: 1px solid black;
    }
 
/* sottosezione header */
.under-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    height: 360px;
    background-color: yellow;
    border: 1px solid black;
}

    .blocco-nav {
        width: 60%;
        /* DEBUG */
        background-color: blueviolet;
        border: 1px solid black;
        height: 60%; 
    }

        .sottoblocco-nav {
            /* DEBUG */
            border: 1px solid black;
            height: calc(100% / 3);
        }

/* corpo della pagina */

/* riga */
.riga {
    display: flex;
    /* DEBUG */
    height: 400px;
}

    .sezione-immagine {
        width: 60%;
        /* DEBUG */
        background-color: blue;
        border: 1px solid black;
        
    }

    .sezione-testo {
        display: flex;
        flex-direction: column;
        width: 40%;
        /* DEBUG */
        background-color: aqua;
        border: 1px solid black;
    }

        .testo {
            /* DEBUG */
            border: 1px solid black;
            height: 50%;
        }

.due {
    flex-direction: row-reverse;
}

/* colonna */
.colonna {
    display: flex;
    flex-direction: column;
    /* DEBUG */
    height: 800px;
    background-color: brown;
}

    .sezione {
        /* DEBUG */
        height: 10%;
        border: 1px solid black;
    }

    .immagine-colonna {
        /* DEBUG */
        height: 60%;
        border: 1px solid black;
    }

    .download {
        /* DEBUG */
        height: 20%;
        border: 1px solid black;
    }

    /* footer */
    footer {
        padding: 50px 0;
        /* DEBUG */
        /* height: 700px; */
        background-color: black;
    }

        .blocco-footer {
            display: flex;
            width: 80%;
            margin: 0 auto;
            /* DEBUG */
            background-color: grey;
            height: 400px;
        }

            .sottoblocco-footer {
                /* DEBUG */
                width: 20%;
                border: 1px solid black;
            }

        /* piedipagina */
        .piedipagina {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
            /* DEBUG */
            background-color: grey;
            border: 1px solid black;
            height: 60px;

        }

            .register {
                width: 25%;
                border: 1px solid black;
            }











